//  ^_^ hehehehehehehehe

#table  {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table  td, #table #vct th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table  tr:nth-child(even){background-color: #f2f2f2;}

#table  tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}

h3 {
  font-family: "Trebuchet MS";
}

body {
  background-color:beige;
  font-family:fantasy;
}

body{
background-image:url('https://media1.giphy.com/media/Cv7wrQjYcd6hO/200w.webp?cid=3640f6095c759408714e416e36df9215');
background-position: center;
background-size: cover;
}